<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNz0WHFw0aDoZnr-ZWc-9sv9O_C0v5qZk</string>
	<key>GCM_SENDER_ID</key>
	<string>618746362055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kisiUts</string>
	<key>PROJECT_ID</key>
	<string>kisiuts-c14e7</string>
	<key>STORAGE_BUCKET</key>
	<string>kisiuts-c14e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618746362055:ios:eb7417e051a1f3986f26e2</string>
</dict>
</plist>